name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Install Packages
        run: npm install
      - name: Lint
        run: npm run lint
      - name: TSC
        run: npm run lint:ts
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
        eslint: [9, 10]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set ESLint Version
        run: npm install eslint@${{ matrix.eslint }}
      - name: Install Packages
        run: npm install
      - name: Test
        run: npm test
